<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All questions</title>
    <script type="module" th:src="@{/js/allQuestions.js}" defer></script>
    <script type="module" th:src="@{/js/index.js}" defer></script>
    <link rel="shortcut icon" href="#">
</head>
<body>
<div th:replace="fragments :: nav-bar"/>
<h1>All questions</h1>
<span>Filter</span>
<label for="filter-title">Title: </label>
<input type="text" id="filter-title" />

<label for="filter-description">Description: </label>
<input type="text" id="filter-description" />

<button id="filter-search-button">Search</button>

<div id="listed-questions"></div>

<div th:replace="fragments :: footer"/>
</body>
</html>