<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="html_header">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" th:href="@{/styles/main.css}">
</head>
<body>
<div th:fragment="nav-bar">
    <div class="nav-bar-button">
        <a href="/">
            <button>Home</button>
        </a>
    </div>
    <div th:if="${username}">
        <p th:text="Welcome + ${' ' + username + '!'}"></p>
        <a href="/logout">
            <button>Logout</button>
        </a>

        <a href="/profile">
            <button>Profile</button>
        </a>
    </div>
    <div th:if="${username == null}">
        <div>
            <form action="/login" method="post">
                <label for="username-field">Username: </label>
                <input type="text" id="username-field" minlength="3"/>
                <label for="password-field">Magic word: </label>
                <input type="text" id="password-field" minlength="3"/>
                <button type="button" id="login-button" class="nav-bar-button">Login</button>
            </form>
        </div>
        <div class="nav-bar-button">
            <a href="/registration">
                <button>Registration</button>
            </a>
        </div>
    </div>
</div>

<div th:fragment="footer">
    <p>fake@email.com - Copyright ---</p>
</div>
</body>
</html>