<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ask a question</title>
    <script type="text/javascript" th:src="@{/js/index.js}" defer></script>
    <script type="text/javascript" th:src="@{/js/question.js}" defer></script>
    <link rel="shortcut icon" href="#">
</head>
<body>
<div th:replace="fragments :: nav-bar"/>
<td>
    <span th:if="${username == null}">You are not logged in!</span>
    <span th:if="${username != null}">
        <div>
            <h1>Ask your question</h1>

                <label for="question-title">Question title: </label>
                <input type="text" id="question-title" minlength="5">

                <label for="question-description">Description: </label>
                <textarea id="question-description" rows="4" cols="50" minlength="5"></textarea>

                <button id="post-question-button">Post question</button>
        </div>
    </span>
</td>
<div th:replace="fragments :: footer"/>
</body>
</html>
