<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Hogwarts forum</title>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" th:href="@{/styles/main.css}">
    <script type="text/javascript" th:src="@{/js/registration.js}" defer></script>
</head>
<body>
<h1>Registration</h1>
<form action="/registration" method="post">
    <label for="username-field">Username: </label>
    <input type="text" id="username-field" minlength="5"/>
    <p id="valid-field"></p>

    <label for="password-field">Magic word: </label>
    <input type="text" id="password-field" minlength="3"/>

    <label for="password-again-field">Magic word again: </label>
    <input type="text" id="password-again-field" minlength="3"/>

    <label for="house-field">Your house: </label>
    <select id="house-field">
        <option value="noneSelected"></option>
        <option value="Gryffindor">Gryffindor</option>
        <option value="Slytherin">Slytherin</option>
        <option value="Hufflepuff">Hufflepuff</option>
        <option value="Ravenclaw">Ravenclaw</option>
    </select>

    <label for="pet-field">Your pet: </label>
    <select id="pet-field">
        <option value="noneSelected"></option>
        <option value="Owl">Owl</option>
        <option value="Car">Cat</option>
        <option value="Toad">Toad</option>
        <option value="Rat">Rat</option>
        <option value="Ferret">Ferret</option>
    </select>

    <button type="button" id="registration-button">Registration</button>
</form>
<a href="/"><button>Home page</button></a>
</body>
</html>