.footer {
    text-align: center;
    flex: fit-content;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}

.body {
    background: url("./assets/hogwarts-school.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.header-to-middle {
    text-align: center;
}

.card-to-middle-with-border {
    margin: auto;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
}

.reg-fields {
    text-align: center;
    display: block;
    margin: auto;
}

.button-to-middle {
    height: 20px;
    width: 100px;
    margin: -20px -50px;
    position: relative;
    top: 50%;
    left: 50%;
}

.wrapper {
    width: auto;
    border: 1px solid black;
    overflow: hidden;
}

.menu-layout-elements {
    width: auto;
    float: left;
}

.go-right {
    float: right;
}

#main-page-questions {
    width: 500px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#all-questions-page-questions {
    width: 500px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.main-page-table {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.5);
}

th {
    border: 1px solid black;
}


.question-buttons {
    text-align: center;
}

.profile-button {
    background-image: url("./assets/hogwarts_logo.png");
    width: 35px;
    height: 35px;
    background-size: cover;
}

.gryffindor-house-crest {
    background-image: url("./assets/gryffindor_logo.png");
    width: 35px;
    height: 35px;
    background-size: cover;
}

.slytherin-house-crest {
    background-image: url("./assets/slytherin_logo.png");
    width: 35px;
    height: 35px;
    background-size: cover;
}

.hufflepuff-house-crest {
    background-image: url("./assets/hufflepuff_logo.png");
    width: 35px;
    height: 35px;
    background-size: cover;
}

.ravenclaw-house-crest {
    background-image: url("./assets/ravenclaw_logo.png");
    width: 35px;
    height: 35px;
    background-size: cover;
}

.slight-white-background {
    background-color: rgba(255, 255, 255, 0.5);
}

.hovertext {
    position: relative;
    border-bottom: 1px dotted black;
}

.hovertext:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 140px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    transition: opacity 1s ease-in-out;

    position: absolute;
    z-index: 1;
    left: 0;
    top: 110%;
}

.hovertext:hover:before {
    opacity: 1;
    visibility: visible;
}

.specific-question-page {
    border: 1px solid black;
}

.ask-question-div {
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.5);
}

.time-stamp-on-specific-question {
    text-align: right;
    font-size: 13px;
}

.question-text-on-specific-question {
    text-align: center;
    font-size: 30px;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.laBorder {
    border: 1px solid black;
}

.loading-field {
    background-image: url("../src/assets/magic-pusheen.gif");
}

.up-vote {
    background-image: url("./assets/upVoteImg.png");
    width: 20px;
    height: 20px;
    background-size: cover;
}

.down-vote {
    background-image: url("./assets/downVoteImg.png");
    width: 20px;
    height: 20px;
    background-size: cover;
}

.delete-comment-button {
    background-image: url("./assets/x-mark.png");
    width: 20px;
    height: 20px;
    background-size: cover;
}
