<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Hogwarts forum</title>
    <script type="module" th:src="@{/js/index.js}" defer></script>
    <link rel="shortcut icon" href="#">
</head>
<body>

<div th:replace="fragments :: nav-bar"/>
<h1>Welcome to Hogwarts forum!</h1>
<a href="/post-question">
    <button>Ask a question</button>
</a>
<a href="/see-all-questions"><button id="see-all-questions">See all question(s)</button></a>
<p>Find friends, chat, connect with other students, ask questions or help in studies.</p>

<div id="main-page-questions"></div>

<div th:replace="fragments :: footer"/>
</body>
</html>